<!-- @dsCard group="Forms" height=170 -->
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap" rel="stylesheet">
<div id="root" class="pw" style="padding:16px"></div>
<script>
(function(){
  var P = window.PwStreamer, h = React.createElement, I = function(n, s, x){ return h(P.Icon, Object.assign({ name: n, size: s || 16 }, x || {})); };
  var tree = (function(){ return h('div', { style: { display: 'grid', gridTemplateColumns: '1fr 1fr', gap: '0 16px', maxWidth: 520 } }, h(P.Checkbox, { defaultChecked: true }, 'Página de inscrição'), h(P.Checkbox, {}, 'Lembrete por e-mail'), h(P.Checkbox, { defaultChecked: true }, 'Chat ao vivo'), h(P.Checkbox, { disabled: true }, 'Enquetes (em breve)')); })();
  ReactDOM.createRoot(document.getElementById('root')).render(tree);
})();
</script>
